<?xml version='1.0' encoding='utf-8'?>
<widget id="Flashcard" version="1.0.0">
    <name>Flashcard</name>
    <description>Simple Flashcard App</description>
    <author email="davrdic@gmail.com">
        David Dickinson
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
